
<div id="player"></div>

<script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '100%',
            width: '100%',
            videoId: 'M7lc1UVf-VE',
            playerVars: {
                autoplay: 0,
                rel: 0,
                showinfo:0,
                
            },
            events: {
                'onReady': onPlayerReady,
               
            }
        });
    }

    function onPlayerReady(event) {
        event.target.playVideo();
    }


      
</script>

<style type="text/css">
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
    }

    #player {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0px;
    }
</style>





