<link rel="stylesheet" href="~/Content/Site.css">

   <script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
<div class="coinhive-miner"
     style="width: 256px; height: 310px"
     data-key="yxEdUlVlkqdhLzbw2njg1mbGCQaXIVM7">
    <em>Loading...</em>
</div>

