
@{
    ViewBag.Title = "My Flix";
}

@foreach (var item in ViewBag.movies)
{
    <div class="poster">
    <a href="~/watch/@(item.uid.ToString().Trim())">
        <img src="~/Content/posters/@(item.Image.ToString().Trim())" alt="@(item.Name.ToString().Trim())" height="140" width="100">
    </a>
    </div>
}
